@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
   text-decoration: none;
   scroll-behavior: smooth;

}

body {
    height: 100vh;
    background-color: #333333;
}

section {
   padding: 5% 5% 8%;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  
  header .logo{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #13ff00;
  }
  header nav{
    margin-left: 50px;
  }
  header nav a{
    position: relative;
    font-size:19px ;
    font-weight: 500;
    text-transform: capitalize;
    margin-left:  20px;
    padding: 8px;
    color: #fff;
    letter-spacing: .8px;
    transition: .3s ease-in-out;
    border-bottom: solid transparent 3px;
  }
  
  header nav a:hover{
    color: #13ff00;
    border-bottom: solid #13ff00 3px;
  }
  
  .icon a{
    font-size: 22px;
    color: #fff;
    margin-right: 15px;
    transition: .3s;
  }
  
  .icon a:hover{
    color: #13ff00;
  }

.headin {
    margin-top: 15px;
   font-size: 40px;
   text-align: center;
   text-transform: capitalize;
   color: #fff;
   margin-bottom: 5rem;
}

.headin span {
   color: #13ff00;
}

.service .service_container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 1.8rem;
}

.service .service_container .service_box {
   flex: 1 1 200px;
   text-align: center;
   padding: 20px;
   background-color: #000;
   border-radius: 10px;
   transition: .4s ease;
   border: transparent solid 3px;
}

.service .service_container .service_box:hover {
   transform: scale(1.1);
   border: #13ff00 solid 3px;
}

.service .service_container .service_box i {
   font-size: 35px;
   color: #13ff00;
   text-shadow: 0 0 10px #13ff00;
}

.service .service_container .service_box h3 {
   font-size: 25px;
   color: #fff;
   text-transform: capitalize;
   font-weight: 700;
   margin: 10px 0;
}

.service .service_container .service_box p {
   color: #eee;
   font-size: 17px;
   font-style: italic;
   margin-bottom: 15px;
}

.service .service_container .service_box .btn {
   display: inline-block;
   padding: 8px 30px;
   font-size: 22px;
   text-transform: capitalize;
   color: #23244a;
   background-color: #13ff00;
   border-radius: 20px;
   font-weight: 500;
   transition: .3s ease;
}

.service .service_container .service_box .btn:hover {
   box-shadow: 0 0 10px #13ff00;
}

.product {
   background-color: #38395c;
}